extends ../nuevoLayout.pug

block contenido    
    h3.my-5 Nuevo cliente
    .row
        .col-md-6.offset-md-3.col-12.offset-0
            form(action="/clients/create", method="POST")
                .form-group
                    label Nombre
                    input.form-control(type="text", name="name")
                .form-group
                    label Apellidos
                    input.form-control(type="text", name="surname")
                .form-group
                    label Email
                    input.form-control(type="text", name="email")
                .form-group
                    label Edad
                    input.form-control(type="number", name="age")
                .form-group
                    label Activo
                    input.form-control(type="checkbox", name="active")
                .form-group
                    label Código Postal
                    input.form-control(type="text", name="zip")
                input.btn.btn-info.btn-block(type="submit", value="Enviar")