<form [formGroup]="formulario" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
        {{ formulario.controls.nombre.errors | json }}
    </div>
    <div class="form-group">
        <label>Apellidos</label>
        <input type="text" class="form-control" formControlName="apellidos">
        <p class="error"
            *ngIf="formulario.controls.apellidos.errors?.required && formulario.controls.apellidos.touched">
            El campo apellidos es requerido
        </p>
        <p class="error"
            *ngIf="formulario.controls.apellidos.errors?.minlength && formulario.controls.apellidos.touched">
            El campo apellidos debe tener una longitud mínima de
            {{formulario.controls.apellidos.errors.minlength.requiredLength}}
        </p>
    </div>
    {{formulario.controls.apellidos.errors | json}}
    <div class="form-group">
        <label>Edad</label>
        <input type="text" class="form-control" formControlName="edad">
        <p class="error" *ngIf="formulario.controls.edad.errors && formulario.controls.edad.touched">
            La edad debe estar entre {{formulario.controls.edad.errors.edadvalidator.min}} y
            {{formulario.controls.edad.errors.edadvalidator.max}}
        </p>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
        <label>Dni</label>
        <input type="text" class="form-control" formControlName="dni">
        <p class="error" *ngIf="formulario.controls.dni.errors && formulario.controls.dni.touched">
            {{formulario.controls.dni.errors.dnivalidator}}
        </p>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
        <label>Repite Password</label>
        <input type="password" class="form-control" formControlName="repite_password">
    </div>
    <p class="error" *ngIf="formulario.errors?.passwordvalidator">
        {{ formulario.errors.passwordvalidator }}
    </p>
    <input type="submit" value="Enviar" class="btn btn-block btn-info" [disabled]="formulario.invalid">
</form>
<p>VALID: {{ formulario.valid }}</p>
<p>PRISTINE: {{ formulario.pristine }}</p>