extends ../layout

block content
    h1 Cabecera
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, placeat voluptates? In impedit nemo natus ratione! Voluptate quae rerum voluptatibus expedita. Illo ea, porro voluptate impedit inventore similique aliquid unde.