extends layout.pug

mixin lista(coleccion)
    ul
        each val in coleccion
            li= val
        else
            li No hay elementos en esta colecci칩n

block contenido
    h2 P치gina de contacto
    h3 Deja tus datos
    .container
        .row
            .col-6
                +lista(numeros)
                +lista([])
            .col-6
                +lista(['hola', 'adios', 'hasta luego'])
    p
        | Texto plano que aparece dentro del p치rrafo
    script.
        console.log('Hola Mundo');
        if(true){
            console.log('Entra en TRUE');
        }
        $(document).ready(()=>{
            console.log('Estamos ready!');
        });

block footer
    p Pie de p치gina de contacto
