<app-formulario></app-formulario>
<!-- <app-suma num1="5" num2="3"></app-suma>
<app-suma num1="43" num2=84></app-suma>
<app-cronometro [inicio]="arrNumeros[0]" (cuentaTerminada)="manejarCuentaTerminada($event)"></app-cronometro>
<app-cronometro [inicio]="arrNumeros[1]"></app-cronometro>
<app-cronometro [inicio]="arrNumeros[2]" (cuentaTerminada)="manejarCuentaTerminada($event)"></app-cronometro>
<app-cronometro></app-cronometro>
<app-cronometro inicio="12"></app-cronometro>
<p>{{ arrNumeros[1] }}</p> -->
<!-- <app-detalle-persona nombre="Rosa" apellidos="García" edad="21"></app-detalle-persona>
<app-detalle-persona nombre="Laura" apellidos="López" edad="56"></app-detalle-persona>
<app-saludo></app-saludo>
<h2>Hola Angular!!!</h2>
<p>Qué pasa!</p> -->