<div class="producto">
    <img src="assets/images/proyecto3.jpg">
    <div class="textos">
        <h2>Título del producto</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores molestiae iste ullam nesciunt nemo rerum vel
            ipsum dolore quod fugiat voluptate repellat quos perferendis illo, autem consequatur officiis laborum
            explicabo!</p>
    </div>
</div>
<div class="botones">
    <button [routerLink]="['/producto']">Producto</button>
    <button [routerLink]="['related']">Relacionados</button>
    <button [routerLink]="['reviews']">Reseñas</button>
</div>
<router-outlet></router-outlet>